body {
    font-family: Arial, sans-serif;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Opcional: Estilos para los botones de navegación */
.swiper-button-prev,
.swiper-button-next {
    color: #fff;
    font-size: 24px;
}



